h1 {
  font-size: 50px;
  color:rgb(31, 237, 16);
  background-color: blanchedalmond;
  text-align: center;
}

h2 {
  text-decoration: underline;
}

h3 {

  letter-spacing: 0.5px;
  word-spacing: 2px;
  text-shadow: 1px 1px 1px black;
  text-align: center;
}

p {
  color:rgb(41, 9, 197);
  font-size: 25px;
}

ul {
  align-items: baseline ;
}
img {
  align-content: center;
}